{% extends "base.html" %}


{% block title %} About {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn ghost-button">Go Back</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #ea2088; font-style: bold; font-size: 3rem;">Garudev</div>
    <div class="align-middle" style="color: #fff">Inventory Management System</div>
    <br><br>

    <div class="align-middle"> 
        <h2 style="color:#ea2088">| About |</h3> <br>
            <p>
                Garudev adalah perangkat lunak manajemen inventaris sederhana yang dibuat untuk kebutuhan perusahaan.
                Perangkat lunak ini mampu melacak stok masuk dan keluar dengan tagihan yang diberikan secara dinamis.
                Setiap pemasok diberikan profil di mana mereka dapat melihat riwayat transaksi mereka dengan perusahaan.
            </p>
        <br>
    </div>
        <!-- <h2 style="color:#ea2088" class="align-middle">| Features |</h3> <br>
            <ul style="display:table; margin:0 auto;">                
                <li>Interactive Chart to display current available stock</li>
                <li>Stock details like current available stock are maintained</li>
                <li>Incoming transactions are done through purchases</li>
                <li>Outgoing transactions are done through sales</li>
                <li>Every transaction performed through the software is recorded</li>
                <li>Bill is dynamically rendered and can be printed</li>
                <li>Separate profiles are maintained for suppliers</li>
            </ul>  
        <br> -->
    <div class="align-middle">
        <h2 style="color:#ea2088" >| Developer |</h3> <br>
            <a target="_blank" href="https://github.com/yugakurniawan" >Garuda Development</a>
            <br><br><br>
    </div>

{% endblock content %}